body {
    background-color: #4a50d2;
}

#icon {
    position: absolute;
    padding: 0.1em;
    top: 5vw;
    left: 5vh;
    width: 50vw;
    height: 75vh;
    z-index: -1; /* Set the z-index so the image is behind other content */
}

#title {
    position: absolute;
    padding: 0.2em;
    top: 13vw;
    left: 90vh;
    text-align: center;
    font-size: 108px;
    background: linear-gradient(to right, #FFFFFF 30%, #FFDD40 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#sub-title {
    position: absolute;
    padding: 0.1em;
    top: 26vw;
    left: 101vh;
    text-align: center;
    font-size: 45px;
    font-weight: 100;
    color: #FFFFFF;
    background: linear-gradient(to right, #FFFFFF 40%, #FFDD40 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#get-started-button {
    position: absolute;
    padding: 0.1em;
    top: 45vw;
    left: 102vh;
    text-align: center;
    font-size: 40px;
    background-color: #A7B6E0;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 15px 30px;
    border: none;
}

#footnote {
    position: absolute;
    padding: 0.1em;
    bottom: 0vw;
    left: 3vh;
    text-align: center;
    font-size: 45px;
    color: #FFFFFF;
    font-weight: 100;
}

#category-button-container{
    position: absolute;
    padding: 0.1em;
    top: 40vw;
    left: 99vh;
    color: #FFFFFF;
    font-size: 25px;
    text-align: center;
}

#category-title{
    font-weight: 100;
}

#category-button-container button {
    text-align: center;
    font-size: 30px;
    background-color: #A7B6E0;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 10px 15px;
    border: none;
    margin: 10px;
}

#heading {
    position: absolute;
    padding: 0.1em;
    top: 1vw;
    left: 15vh;
    text-align: center;
    font-size: 32px;
    background: linear-gradient(to right, #FFFFFF 30%, #FFDD40 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#heading-icon {
    position: absolute;
    padding: 0.1em;
    top: 1vw;
    left: 4vh;
    width: 100px;
    height: 100px;
    z-index: -1; /* Set the z-index so the image is behind other content */
}

#home-icon {
    position: absolute;
    top: 2vw;
    right: 2vw;
    width: 3vw;
    height: 5vh;
}

#questionnaire {
    position: absolute;
    margin-top: 130px;
    background-color: #BABDF9; /* set the background color to a light purple */
    border: 1px solid #BABDF9; /* add a border around the box */
    padding: 20px; /* add some padding inside the box */
    margin-left: 40px;
    width: 60%;
    height: 75%;
}
#questionnaire label {
    display: inline-block;
    padding-left: 10px;
}

#questions {
    background: rgba(146, 150, 243, 0.58);
    border-radius: 25px;
    padding: 5px;
}
#answers{
    margin-top: 10px;
    margin-left: 60px;
    position: center;
}
#question {
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    margin: 20px;
}
input[type="radio"] {
    margin: 0 15px;
  }
